#header {
    width: 700px;
    height: 200px;
    background-color: blue;
}

#slider {
    width: 700px;
    height: 200px;
    background-color: red;
}

#featured-content {
    width: 700px;
    height: 200px;
    background-color: green;
} 